<widget xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0" 
	id="com.namapembuat.namagame" 
	version="1" android-versionCode="1"
>
	<name>Judul Game</name>
	<description>Deskripsi</description>
	<author href="http://google.com/" email="email@gmail.com">Nama Pembuat</author>

	<content src="index.html"/>
	<icon src="icon.png" />

	<platform name="android">
		<allow-intent href="market:*"/>
		<allow-intent href="http://*/*"/>
		<allow-intent href="https://*/*"/>
		<allow-intent href="tel:*"/>
		<allow-intent href="sms:*"/>
		<allow-intent href="mailto:*"/>
		<allow-intent href="geo:*"/>

		<preference name="enabled" value="true"/>
		<preference name="deployment-target" value="10.0" />
		<preference name="android-minSdkVersion" value="22" />
		<preference name="android-targetSdkVersion" value="31" />
	

	</platform>

	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/file" />
	<preference name="phonegap-version" value="cli-9.0.0" />
	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="true" />

	<access origin="*" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-media" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="cordova-plugin-wkwebview-engine" />
	<!-- Optional splash screen image, e.g.: -->
	<!-- <gap:splash src="splash.png" width="1024" height="768" /> -->

</widget>